<template>
    <div class="no-photos">
        <image src="@/pages/minePages/static/pay/nothing.png" mode="" class="nothing"></image>
        <view class="notxt">{{ textTip }}</view>
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    props: {
        textTip: {
            type: String,
            default: '暂无数据！'
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="less" scoped="scoped">
.no-photos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f6f8fc;
    .nothing {
        width: 285rpx;
        height: 230rpx;
        margin-top: 26.5%;
        margin-left: 31.5%;
    }
    .notxt {
        width: 100%;
        height: 30rpx;
        text-align: center;
        font-size: 30rpx;
        line-height: 30rpx;
        margin: 8% auto;
        color: #abb3b8;
    }
}
</style>
