<template>
    <view class="template">
        <image class="theme" src="@/pages/compoundPages/static/posterPage/template1/theme.jpg" mode="widthFix"></image>
        <view class="list-wrap" v-if="photosList.length > 0">
            <view class="item-group" v-for="(item, index) in modeList" :key="index">
                <view class="item" v-for="(item2, index2) in item" :key="index2" :class="`item` + index2">
                    <LazyImage
                        class="photo"
                        :class="`photo` + item2.imageIndex"
                        :imageStyle="imageStyle"
                        :src="item2.image_url_c"
                        mode="aspectFill"
                    ></LazyImage>
                    <image class="mode" :src="`../../static/posterPage/template1/mode` + item2.imageIndex + `.png`" mode="widthFix"></image>
                </view>
            </view>
        </view>
    </view>
</template>
<script>
import LazyImage from '@/components/LazyImage/index.vue';
import { mapList, getItemIndex } from '@/common/common.js';
export default {
    name: 'Template0',
    data() {
        return {
            modeList: [],
            modeArr: [1, 1, 3, 1, 1, 1, 1],
            defaultPhotoPath: require('@/pages/compoundPages/static/posterPage/default.png'),
            imageStyle: {
                borderRadius: '2rpx'
            }
        };
    },
    props: {
        photosList: {
            type: Array,
            default: function() {
                return [];
            }
        }
    },
    computed: {},
    created() {},
    onLoad() {},
    onShow() {},
    methods: {
        getList() {
            this.modeList = mapList(this.modeArr, this.photosList, this.defaultPhotoPath);
            console.log(this.modeList);
        }
    },
    watch: {
        photosList: {
            handler(newVal, oldVal) {
                if (newVal.length > 0) {
                    this.getList();
                }
            },
            immediate: true,
            deep: true
        }
    },
    components: { LazyImage }
};
</script>
<style lang="scss">
.template {
    .theme {
        width: 100%;
    }
    .list-wrap {
        background: #fff;
        width: 660rpx;
        margin: 35rpx 20rpx 0  70rpx;
        border-radius: 10rpx;
        box-sizing: border-box;
        border: 4rpx dashed #778ccf;
        .item-group {
            position: relative;
            left: -70rpx;
            top: 0;
            width: 750rpx;
            .item {
                position: absolute;
                width: 750rpx;
                left: 0;
                top: 0;
                z-index: 1;
                .mode {
                    position: relative;
                    width: 750rpx;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, 0);
                }
                .photo {
                    position: absolute;
                    border-radius: 10rpx;
                    z-index: 2;
                }
            }
            .item0 {
                position: relative;
                left: 0;
                top: 0;
            }
        }
        .photo0 {
            left: 116rpx;
            top: 98rpx;
            width: 500rpx;
            height: 338rpx;
            border-radius: 100%;
        }
        .photo1 {
            left: 284rpx;
            top: 48rpx;
            width: 370rpx;
            height: 250rpx;
        }
        .photo2 {
            left: 114rpx;
            top: 44rpx;
            width: 172rpx;
            height: 252rpx;
        }
        .photo3 {
            left: 298rpx;
            top: 44rpx;
            width: 172rpx;
            height: 252rpx;
        }
        .photo4 {
            left: 480rpx;
            top: 44rpx;
            width: 172rpx;
            height: 252rpx;
        }
        .photo5 {
            left: 106rpx;
            top: 52rpx;
            width: 306rpx;
            height: 208rpx;
            z-index: 2;
        }
        .photo6 {
            left: 364rpx;
            top: 36rpx;
            width: 306rpx;
            height: 208rpx;
        }
        .photo7 {
            left: 96rpx;
            top: 56rpx;
            width: 370rpx;
            height: 250rpx;
        }
        .photo8 {
            left: 114rpx;
            top: 46rpx;
            width: 536rpx;
            height: 324rpx;
        }
    }
}
</style>
