<template>
    <scroll-view scroll-y="true" class="scroll-wrap">
        <!-- 主题 -->
        <image class="theme" :src="vuex_templateData.theme" mode="widthFix"></image>
        <!-- 图片列表 -->
        <view class="list-wrap" v-if="modeList.length > 0" @click.capture="hideMenu">
            <view class="item-group" v-for="(item, index) in modeList" :key="index" :class="`item-group` + index">
                <view class="item" v-for="(item2, index2) in item" :key="index2" :class="`item` + index2" :id="'item' + index + '-' + index2">
                    <image class="mode" :class="`mode` + item2.imageIndex" :src="getModePath(`mode` + item2.imageIndex)" mode="widthFix"></image>
                    <ImageItem
                        v-if="item2.image_url_c"
                        mode="aspectFill"
                        class="photo"
                        :class="`photo` + item2.imageIndex"
                        :photoData="item2"
                        :imageStyle="item2.imageIndex == 0 ? photoStyles[index].imageStyle : photoStyles[1].imageStyle"
                        :photoEleInfo="photoEleInfo"
                        :showEditMenu="activeClassName === `photo` + item2.imageIndex"
                        @click.native="showEditIcon(`photo` + item2.imageIndex)"
                        @delect="delect"
                        @replace="choosePhoto"
                    ></ImageItem>
                    <!--额外的一些图片  比如 第二张图的花朵部分 -->
                    <image :class="`icon` + item2.imageIndex" v-if="isShowIcon(`icon` + item2.imageIndex)" :src="getIconPath(`icon` + item2.imageIndex)" mode="widthFix"></image>
                </view>
            </view>
        </view>
        <!-- 底部小程序二维码 -->
        <BottomCode></BottomCode>
    </scroll-view>
</template>
<script>
import BottomCode from '../BottomCode.vue';
import LazyImage from '@/components/LazyImage/index.vue';
import ImageItem from '../ImageItem.vue';
import { template } from '@/mixins/template.js';
import { mapList } from '@/common/common.js';
export default {
    name: 'Template0',
    data() {
        return {
            modeList: [],
            modeNumArr: [1, 2, 1, 2, 2, 1],
            // 默认的图片
            defaultPhotoPath: require('../../static/posterPage/default.png'),
            // 图片样式
            photoStyles: [
                {
                    imageStyle: {
                        borderRadius: '100%'
                    }
                },
                {
                    imageStyle: {
                        borderRadius: '10rpx'
                    }
                }
            ]
        };
    },
    mixins: [template],
    methods: {
        //获取图片列表
        getList() {
            if (this.templateStatus === 'templete') {
                this.modeList = mapList(this.modeNumArr, this.emptyList);
            } else {
                if (this.vuex_selectedPhotosList.length > 0) {
                    this.modeList = mapList(this.modeNumArr, this.vuex_selectedPhotosList, this.defaultPhotoPath);
                } else {
                    this.modeList = [];
                }
            }
        }
    },
    components: { LazyImage, BottomCode, ImageItem }
};
</script>
<style lang="scss" scoped>
.scroll-wrap {
    height: 100vh;
    .theme {
        width: 100%;
    }
    .list-wrap {
        width: 660rpx;
        margin: 45rpx 45rpx 0;
        background: #fff0f0;
        border-radius: 10rpx;
        .item-group {
            width: 100%;
            position: relative;
            .item {
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                .mode {
                    position: relative;
                    width: 750rpx;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, 0);
                }
                .mode2 {
                    position: absolute;
                    width: 375rpx;
                    right: 0;
                    top: 0;
                    transform: translate(0, 0);
                }
                .mode5 {
                    position: absolute;
                    width: 418rpx;
                    left: 287rpx;
                    top: 0;
                    transform: translate(0, 0);
                }
            }
            .item0 {
                position: relative;
                left: 0;
                top: 0;
            }
        }
        .item-group1 {
            z-index: 10;
        }
        .photo {
            position: absolute;
            border-radius: 10rpx;
            z-index: 2;
        }
        .photo-empty {
            position: absolute;
            border-radius: 10rpx;
            z-index: 2;
            // background: #ccc;
        }
        .photo0 {
            left: 130rpx;
            top: 110rpx;
            width: 390rpx;
            height: 390rpx;
            border-radius: 100%;
        }
        .photo1 {
            left: 66rpx;
            top: 68rpx;
            width: 220rpx;
            height: 332rpx;
            z-index: 3;
        }
        .icon1 {
            position: absolute;
            left: 15rpx;
            top: 284rpx;
            width: 169rpx;
            height: 43rpx;
            z-index: 4;
        }
        .photo2 {
            left: 384rpx;
            top: 68rpx;
            width: 220rpx;
            height: 332rpx;
            z-index: 1;
        }
        .photo3 {
            left: 102rpx;
            top: 104rpx;
            width: 462rpx;
            height: 298rpx;
        }
        .photo4 {
            left: 52rpx;
            top: 104rpx;
            width: 308rpx;
            height: 206rpx;
        }
        .photo5 {
            left: 310rpx;
            top: 252rpx;
            width: 308rpx;
            height: 206rpx;
            z-index: 2;
        }

        .photo6 {
            left: 72rpx;
            top: 58rpx;
            width: 220rpx;
            height: 332rpx;
        }
        .photo7 {
            left: 406rpx;
            top: 224rpx;
            width: 162rpx;
            height: 204rpx;
        }
        .photo8 {
            left: 264rpx;
            top: 150rpx;
            width: 344rpx;
            height: 220rpx;
        }
    }
}
</style>
