<template>
    <TobeSelect @sure="sure" :maxPhotosAmout="vuex_templateData.modeArr.length || 1"></TobeSelect>
</template>
<script>
import TobeSelect from '../components/TobeSelect.vue';
export default {
    name: '',
    data() {
        return {};
    },
    onLoad() {},
    onShow() {},
    methods: {
        sure() {
            uni.redirectTo({
                url: '/pages/compoundPages/makeWorks/makeWorks'
            });
        }
    },
    watch: {},
    components: { TobeSelect }
};
</script>
<style lang="scss" scoped>
.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
}
</style>
