.bold {
    font-weight: bold;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
// 定义项目缩小比例
.flex-shrink-0 {
    display: flex;
    flex-shrink: 0;
}
.flex-shrink-10 {
    display: flex;
    flex-shrink: 0;
}
//定义项目放大比例 0
.flex-grow-0 {
    display: flex;
    flex-grow: 0;
}
.flex-grow-10 {
    display: flex;
    flex-grow: 10;
}

.flex-h-start {
    display: flex;
    justify-content: flex-start;
}
.flex-h-end {
    display: flex;
    justify-content: flex-end;
}
.flex-h-center {
    display: flex;
    justify-content: center;
}
.flex-h-between {
    display: flex;
    justify-content: space-between;
}
.flex-h-around {
    display: flex;
    justify-content: space-around;
}

.flex-v-start {
    display: flex;
    align-items: flex-start;
}
.flex-v-end {
    display: flex;
    align-items: flex-end;
}
.flex-v-center {
    display: flex;
    align-items: center;
}

.self-center {
    display: flex;
    align-self: center;
}

//
.expand-click {
    position: relative;
    &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 200%;
        content: '';
        z-index: 2;
        transform: translate(-50%, -50%);
    }
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-menu-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 750rpx;
    height: 100%;
    z-index: 100;
}
