<template>
    <view class="wrap">
        <view class="logo"><image mode="" class="logoimg"></image></view>
        <view class="intro">云游相册为云游产品体系下其中一个产品，主要为用户提供电子底片的获取，旨在为用户打造一个关于旅游的分享社区。</view>
        <view class="tele">
            <view class="teletxt">24小时客服热线：</view>
            <view class="teletxt telenum" @click="makePhoneCall">400 165 8188</view>
        </view>
    </view>
</template>

<script>
export default {
    data() {
        return {};
    },
    methods: {
        makePhoneCall() {
            uni.makePhoneCall({
                phoneNumber: '400 165 8188' //仅为示例
            });
        }
    },

};
</script>

<style lang="scss" scoped>
.wrap {
    width: 100%;
    background: #ffffff;
    .logo {
        width: 300rpx;
        height: 300rpx;
        margin: 70rpx auto;
        background: red;
        .logoimg {
            width: 100%;
            height: 100%;
            background: url(@/pages/minePages/static/aboutUs/logo.png);
            background-size: cover;
        }
    }
    .intro {
        width: 644rpx;
        height: 200rpx;
        text-align: center;
        line-height: 40rpx;
        margin: -40rpx auto;
        font-size: 28rpx;
        letter-spacing: 1rpx;
        color: #262832;
    }
    .tele {
        width: 100%;
        height: 46rpx;
        font-size: 26rpx;
        text-align: center;
        line-height: 46rpx;
        color: #abb3b8;
        position: fixed;
        bottom: 3%;
        .teletxt {
            display: inline-block;
        }
        .telenum {
            color: #09c266;
        }
    }
}
</style>
