<template>
    <view class="wrap"></view>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    computed: {},
    onLoad(option) {
        // 获取回流作品id
        if(option&&option.shareData&&option.sharedInfo){
            this.$u.route({
                url: '/pages/compoundPages/worksBackflow/worksBackflow',
                type:'redirectTo',
                params: {
                    shareData: option.shareData,
                    sharedInfo:option.sharedInfo
                }
            })
        }else{
            uni.reLaunch({
                url: `/pages/tabBar/index/index`
            });
        }
    },
    onShow() {},
    methods: {},

};
</script>
<style lang="scss" scoped></style>
