<template>
    <WorksDetail :templateStatus="templateStatus"></WorksDetail>
</template>
<script>
import WorksDetail from '../components/WorksDetail.vue';
import { createWorks, editWorks } from '@/api/works.js';
import { createAndUpdate } from '@/mixins/createAndUpdate.js';
export default {
    name: '',
    data() {
        return {
            templateStatus: 'preview'
        };
    },
    mixins: [createAndUpdate],
    computed: {},
    onLoad() {
        this.$uniPromise.setTitle(this.vuex_templateData.name);
        wx.showShareMenu({
            menus: ['shareAppMessage', 'shareTimeline']
        });
        if (this.vuex_worksId) {
            this.editWorks();
        } else {
            this.createWorks();
        }
    },
    onShow() {
        this.playStatus=true;
    },
    beforeDestroy() {
        this.playStatus = false;
    },
    components: { WorksDetail },
    onShareAppMessage(res) {
        let shareData = JSON.stringify({
            worksId: this.vuex_worksId,
            name: this.vuex_templateData.name
        });
        let sharedInfo = JSON.stringify({
            avatar: this.vuex_avatarUrl,
            nickName: this.vuex_nickName,
            userSignature: this.vuex_userSignature
        });
        return {
            title: `${this.vuex_nickName}分享了相册"${this.vuex_templateData.name}"`,
            path: `/pages/empty/empty?shareData=${shareData}&sharedInfo=${sharedInfo}`,
            imageUrl: `${this.vuex_templateData.theme}`
        };
    }
};
</script>
<style lang="scss" scoped>
.wrap {
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 66;
    .music-wrap {
        position: fixed;
        right: 30rpx;
        top: 30rpx;
        width: 58rpx;
        height: 58rpx;
        z-index: 20;
    }
    .view-info-wrap {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 750rpx;
        height: 160rpx;
        z-index: 20;
    }
}
</style>
