<template>
    <view class="bottom-code">
        <image class="code" src="@/pages/compoundPages/static/posterPage/code.png" mode="scaleToFill" show-menu-by-longpress></image>
        <image class="code-tip" src="@/pages/compoundPages/static/posterPage/code-tip.png" mode="scaleToFill"></image>
    </view>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    props: {},
    computed: {},
    onLoad() {},
    onShow() {},
    methods: {},
    watch: {}
};
</script>
<style lang="scss" scoped>
.bottom-code {
    width: 100%;
    padding: 100rpx 70rpx 170rpx;
    display: flex;
    justify-content: center;
    .code {
        width: 258rpx;
        height: 258rpx;
    }
    .code-tip {
        width: 362rpx;
        height: 240rpx;
    }
}
</style>
