<template>
    <view class="edit-menu" :style="[menuStyle]"></view>
</template>
<script>
export default {
    name: 'EditMenu',
    data() {
        return {};
    },
    props: {
        photoEleInfo: {
            type: Object,
            default: function() {
                return {};
            }
        }
    },
    computed: {
        menuStyle() {
            let info = this.photoEleInfo;
            let left = info.left +  'px';
            return {
                left: left
            };
        }
    },
    mounted() {},
    methods: {},
    watch: {},
    components: {},

};
</script>
<style lang="scss" scoped>
.edit-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 206rpx;
    height: 90rpx;
    background: rgba(0, 0, 0, 0.5);
    // transform: translate(-50%, 100%);
    z-index: 10;
    
    
}
</style>
