<template>
    <!-- 黄腾峡 -->
    <view class="bg-img-wrap" v-if="merchantMode === 'huangtengxia'">
        <image class="bg-img" src="@/pages/indexPages/static/searchResults/bg.jpg" mode="widthFix"></image>
        <image class="bg-img2" src="@/pages/indexPages/static/searchResults/bg2.jpg" mode="widthFix"></image>
    </view>
    <!-- 三亚亚龙湾 -->
    <view class="bg-img-wrap bg-img-wrap-sanya" v-else-if="merchantMode === 'yalongwan' || merchantMode === 'sanya'|| merchantMode === 'huaxue'"></view>
    <!-- 默认景区模板 -->
    <view class="bg-img-wrap " v-else>
        <image class="bg-img" src="@/pages/indexPages/static/searchResults/bg2.jpg" mode="widthFix"></image>
        <image class="bg-img2" src="@/pages/indexPages/static/searchResults/bg2.jpg" mode="widthFix"></image>
    </view>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    props: {
        merchantMode: {
            type: String,
            default: ''
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="less" scoped="scoped">
.bg-img-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.bg-img,
.bg-img2 {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.bg-img2 {
    position: relative;
    top: -1px;
}
.bg-img-wrap-sanya {
    background-color: #fff;
}
</style>
